/* Адаптив для телефона */
@media only screen and (max-width: 768px) {
  * {
    -webkit-tap-highlight-color: transparent;
  }
  .countdown h1{
    font-family: TekturExtraBold;
    color: white;
    font-size: 6vw;
  }
  .spiral {
    width: 64vw;
  }
  .dialog-box svg {
    display: block;
    max-width: 90vw; 
    height: auto;
  }
  .character-name{
    font-size: 2.6em;
  }
  .character img{
    width: 34vw;
  }
  .character-text{
    margin-top: 4vw;
    font-size: 2.2em;
  }
  .map-title h1{
    font-size: 9vw;
    padding-top: 8vw;
    text-align: center;
  }
  .map{
    overflow-x: hidden;
  }
  .locations{
    margin: 10vw 2vw 0vw 5vw;
  }
  .map-about p{
    font-size: 6vw;
  }
  .br{
    display: none;
  }
  .popup__1, .popup__2, .popup__3, .popup__4 {
    width: 90vw;
    height: 85vw;
  }
  .close-btn {
    top: 1vw;
    right: 1vw;
    border: 1px solid white;
    border-radius: 25%;
    width: 7vw;
    height: 7vw;
    font-size: 6vw;
  }
  .location1_title h3, .location2_title h3, .location3_title h3, .location4_title h3 {
    color: white;
    font-family: TekturExtraBold;
    font-size: 6vw;
    text-shadow: 0 0 1vw rgba(25, 19, 26, 0.308);
  }
  .location1_title, .location2_title, .location3_title, .location4_title {
    padding: 7.5vw 4vw 7.5vw 4vw;
  }
  .location_description {
    font-size: 5vw;
    padding-top: 2vw;
    padding: 7vw 4vw 3vw 4vw;
  }
  .next-button {
    margin: 12vw 0vw 1vw 0vw;
  }
  .next-button a {
    border: 0.5vw solid white;
    border-radius: 1vw;
    padding: 1vw 8vw 1vw 8vw;
  }
  .back {
    bottom: 4vw;
    left: 4vw;
    align-items: center;
    gap: 0.2em;
  }
  .back-arrow {
    object-fit: contain;
    width: 2em;
    height: 2em;
  }
  .back p{
    font-size: 7vw;
    left: 4vw;
    line-height: 1;
  }
  .cake{
    width: 68vw;
  }
  .event_title h4{
    font-size: 7vw;
    color: white;
    font-family: TekturExtraBold;
    margin: 7vw;
  }
  .decoration_1{
    width: 13vw;
    top: 27%;
    left: 17%;
  }
  .decoration_2{
    width: 15vw;
    top: 24%;
    left: 61%;
  }
  .decoration_3{
    width: 14vw;
    top: 70%;
    left: 40%;
  }
  .decoration_4{
    width: 18vw;
    top: 28%;
    left: 86%;
  }
  .decoration_5{
    width: 12vw;
    top: 71%;
    left: 65%;
  }
  .decoration_6{
    width: 17vw;
    top: 65%;
    left: 84%;
  }
  .decoration_7{
    width: 17vw;
    top: 66%;
    left: 14%;;
  }
  .decoration_8{
    width: 14vw;
    top: 22%;
    left: 40%;
  }
  .lollipop{
    width: 64vw;
  }
  .puzzle {
    width: 30vw;
  }
  .puzzle_1{
    top: 28%;
    left: 15%;
  }
  .puzzle_2{
    top: 66%;
    left: 17%;
  }
  .puzzle_3{
    top: 19%;
    left: 45%;
  }
  .puzzle_4{
    top: 75%;
    left: 43%;
  }
  .puzzle_5{
    top: 70%;
    left: 74%;
  }
  .puzzle_6{
    top: 25%;
    left: 73%;
  }
  .puzzle_7{
    top: 37%;
    left: 90%;
  }
  .puzzle_8{
    top: 43%;
    left: 42%;
  }
  .puzzle_9{
    top: 50%;
    left: 81%;
  }
  .event__2 {
    top: -110%;
  }
  .event__3 {
    bottom: -110%;
  }
  .counter{
    display: none;
  }
  .total span{
    font-size: 10vw;
  }
  .container {
    flex-direction: column;
  }
  .points{
    margin-top: 18vw;
  }
  .points p{
    font-size: 7vw;
    padding-top: 4vw;
    color: white;
    font-family: TekturExtraBold;
    text-align: center;
  }
  .svg_cake svg{
    width: 76vw;
    height: 70vw;
    margin-right: 0;
  }
  .total {
    bottom: 4vw;
    right: 0;
  }
  .total p{
    margin-top: 1.5vw;
    font-size: 7vw;
    left: 4vw;
  }
  .footer_columns{
    display: flex;
    justify-content: space-between;
    margin: 3vw 4vw 1vw 4vw;
  }
  .logo{
    width: 30vw;
  }
  .footer_columns p{
    font-size: 5vw;
    color: white;
    font-family: TekturBold;
    margin: 3vw;
    text-align: right;
  }
}

/* Планшет */
@media only screen and (min-width: 769px) and (max-width: 1280px) {
  * {
    -webkit-tap-highlight-color: transparent;
  }
  .spiral {
    width: 54vw;
  }
  .countdown h1{
    font-size: 5vw;
  }
  .dialog-box svg {
    max-width: 82vw; 
  }
  .character img{
    width: 32vw;
  }
  .character-name{
    font-size: 3em;
  }
  .character-text{
    font-size: 2.6em;
  }
  .map-title h1{
    font-size: 6vw;
    margin-top: 7vw;
  }
  .locations{
    margin-top: 15vw;
    margin-left: 4vw;
  }
  .map-about p{
    font-size: 5vw;
    margin: 2vw;
  }
  .popup__1, .popup__2, .popup__3, .popup__4 {
    top: 45%;
    width: 90vw;
    height: 85vw;
  }
  .close-btn {
    top: 1vw;
    right: 1vw;
    border: 1px solid white;
    border-radius: 25%;
    width: 7vw;
    height: 7vw;
    font-size: 6vw;
  }
  .location1_title h3, .location2_title h3, .location3_title h3, .location4_title h3 {
    color: white;
    font-family: TekturExtraBold;
    font-size: 6vw;
    text-shadow: 0 0 1vw rgba(25, 19, 26, 0.308);
  }
  .location1_title, .location2_title, .location3_title, .location4_title {
    padding: 7.5vw 4vw 7.5vw 4vw;
  }
  .location_description {
    font-size: 5vw;
    padding-top: 2vw;
    padding: 7vw 4vw 3vw 4vw;
  }
  .next-button {
    margin: 12vw 0vw 1vw 0vw;
  }
  .next-button a {
    border: 0.5vw solid white;
    border-radius: 1vw;
    padding: 1vw 8vw 1vw 8vw;
  }
  .event_title h4{
    font-size: 5vw;
    margin: 7vw;
  }
  .decoration_1{
    width: 8vw;
  }
  .decoration_2{
    width: 9vw;
  }
  .decoration_3{
    width: 6vw;
  }
  .decoration_4{
    width: 9vw;
  }
  .decoration_5{
    width: 7vw;
  }
  .decoration_6{
    width: 8vw;
  }
  .decoration_7{
    width: 8vw;
  }
  .decoration_8{
    width: 7vw;
  }
  .lollipop{
    width: 40vw;
  }
  .puzzle {
    width: 18vw;
  }
  .points p{
    font-size: 4vw;
    padding-top: 3vw;
  }
  .svg_cake svg{
    width: 42vw;
  }
  .back {
    font-size: 5vw;
    gap: 0.2em;
  }
  .total {
    font-size: 5vw;
  }
  .counter{
    margin-right: 1vw;
  }
  .footer{
    padding-top: 10%;
  }
  .footer_columns{
    display: flex;
    justify-content: space-between;
    margin: 3vw 4vw 0vw 4vw;
  }
  .logo{
    width: 30vw;
  }
  .footer_columns p{
    font-size: 5vw;
    margin: 3vw;
  }
}